/* Adicionar aqui toda a estilização criada para sua aplicação. */

body {
  margin: 0px;
  font-family: Arial, sans-serif;

}
:root { /* Serve como 'variáveis' de elementos para o código, funciona com cores e tamanhos */
 --preto: #000;
 --branco: #fff;
 --cinza: #807c7d;
}
.header {
  background-color: var(--preto);
  border-bottom: 3px solid var(--branco);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: var(--cinza);
  list-style: none; /* Pra tirar os marcadores de lista da lista de itens */
  width: 300px;
}
.navbar a{
  color: var(--cinza);
  text-decoration: none; /* Tirar o sublinhado do texto */
}
.agora { /* Indicar em que página do site o cliente está */
  font-weight: bolder    ;
}
.countdown{
    text-align: center;
    margin: 0px;
    color: var(--preto);
    z-index: 0;

  }
.countdown img{
z-index: -2;
width: 100%;
margin: 0px;
background-size:contain;
image-resolution: 300dpi;

}
.box {
  position: absolute;
  left: 10px;
  top: 110px;
  background:var(--branco),(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  color: white;
  border-bottom: solid var(--branco);

}
