* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: "Raleway", sans-serif;
    background-color: #fff;
    color: #000;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 3px solid #000;
    position: sticky;
    top: 0;
    z-index: 1000;     
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
  .search {
    cursor: pointer;
  }
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  .historia h1{
    font-size: 40px;
    margin-top: 80px;
    font-weight: 800;
    margin-left: 80px;
    text-align: center;
  }
  .historia h2{
    font-size: 20px;
    margin-top: 8px;
    font-weight: 800;
    margin-left: 80px;
    margin-bottom: 20px;
    text-align: center;

  }
  .todo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .titulo, .titulo2 {
    font-size: 18px;             
    margin-top: 80px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
      
  }
  .card-historia, .card-historia2 {
    gap: 80px;                      
    max-width: 1200px;
    margin: 20px;              /* ___AJUSTADO para centralização___ */
    padding: 0px;
    line-height: 1.4;               /* ___ADICIONADO: melhora leitura___ */  
    display: flex;       
    align-items: center;
    text-align: justify;
}
.card-historia2{
  flex-direction: row-reverse;  
  
}
.card-historia img, .card-historia2 img{
  border-radius: 10px;
  margin-top: 110px;
  flex-shrink: 0;
}

.footer-site{
    margin-top: 100px;
    height: 100px;
    width: 100%;
    background-color: var(--azul);
    z-index: 1000;
    display: flex;
  }
    .container-footer {
        height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around; 
      color: #000;
    }
  .faleconosco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:-10px ;
    gap: 10px;
  }
  .imgIndex{
    display: flex;
    flex-direction: row;
  }

.links ul li a {
    color: #000;
    font-weight: bolder;
    margin-bottom: 300px;



}


.direitos p{
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 100px;
    margin-bottom: 100px;
}