body{
    background-image: url(../imgs/imgGame/porteria1.jpg);
    background-size: 195vh;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 0px;

}

#bola{
    background-image: url(../imgs/imgGame/bola.png);
    background-size: 100%;
    width: 70px;
    height: 70px;
    margin: auto;
    margin-top: 35% ;
    transform: translate(0, 0);
    transition: transform 2s;
    position: relative;
}


#goleiro{
    background-image: url(../imgs/imgGame/portero.png);
    background-size: 100%;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: -500px;
    position: relative;
    z-index: 90;
}

#flechas{
    width: 600px;
    margin-top: 200px;
    margin-left: 70%;
}

.material-symbols-outlined{
    cursor: pointer;
    
}
.material-symbols-outlined:hover{
    color: red;
}

#esq:checked + #bola{
    transform: translate(30px, -30px);
}


.animar {
    animation: moverAcimaDireita 1s forwards;
  }
  
  @keyframes moverAcimaDireita {
    from {
      transform: translate(0, 0);
    }
    to {
        width: 50px;
        height: 50px;
      transform: translate(390px, -390px) rotate(90deg);
    }
  }

  .animarmid {
    animation: movermid 1s forwards;
  }
  
  @keyframes movermid {
    from {
      transform: translate(0, 0);
    }
    to {
        width: 50px;
        height: 50px;
      transform: translate(0px, -390px) rotate(90deg);
    }
  }

  
  .animaresq {
    animation: moveresq 1s forwards;
  }
  
  @keyframes moveresq {
    from {

      transform: translate(0, 0);
    }
    to {
        width: 50px;
        height: 50px;
      transform: translate(-390px, -390px) rotate(90deg);
    }
  }

  .anidir {
    animation: moverPorDir 1s forwards;
  }
  
  @keyframes moverPorDir {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(400px, 0px) rotate(45deg);
    }
  }


  .aniesq {
    animation: moverPoresq 1s forwards;
  }
  
  @keyframes moverPoresq {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-400px, 0px) rotate(-45deg);
    }

  }

  
  .colocarBola {
    animation: colocoBola 1s forwards;
  }
  
  @keyframes colocoBola {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0px, 0px) rotate(-45deg);
    }
  }

  
  .colocargoleiro {
    animation: colocogoleiro 1s forwards;
  }
  
  @keyframes colocogoleiro {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0px, 0px) rotate(-45deg);
    }
  }



  
  #gols{
    margin-left: 20px;
    
    margin-top: 20px;
    color: green;
    float: left;
   
    
  }

  #erro{
    color: red;
    
    height: 40px;
    width: 40px;
    display: block;
    margin-left: 105px;
    padding-top: 20px;
  }

  #marcador{
    background-image: url(../imgs/imgGame/marcador.jpg);
    width: 150px;
    height: 120px;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
  }


  #colocar{
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(111, 152, 54);
    color: white;
  }
  
  #colocar:hover{
    color: rgb(111, 152, 54);
    background-color: white;
    transition: 0.7s;
  }
  .numero {
    font-size: 35px;
    display: block; 
    margin: 0 auto;
  }

  