* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --branco: #f9f9f9;
    --preto: #000;
    --cinza: #333;
  }
  body {
    font-family: "Raleway", sans-serif;
    background-color: var(--preto);
    color: var(--branco);
  }

  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--preto);
    border-bottom: 3px solid var(--branco);
    position: sticky; /* ___ADICIONADO: mantém a navbar fixa___ */
    top: 0;            /* ___ADICIONADO___ */
    z-index: 1000;  
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
  }
  
  .search {
    cursor: pointer;
  }
  
  /* Hero Section */
  .hero {
    display: flex;
    height:75vh;
    border-bottom: 2px solid var(--branco);
  }


  .hero-text {
    flex: 1;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
  
  .hero-text h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    margin-bottom: 30px;
    color: var(--branco);
  }
  .hero-box {
    color: var(--branco);
    margin-bottom: 30px
  }
  
  .but_cadastrar{
    padding: 10px 0px;
    border: none;
    border-radius: 25px;
    background-color: var(--branco);
    color: var(--preto);
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    
  }
  
  .hero-image {
    flex: 1;
  position: relative;
  overflow: hidden;
  }


  /* STYLE PARA O BLOG */
  
  .blog {
   
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  
  .blog h2 {
    font-size: 30px;
    margin-bottom: 60px;
  }
  
  .blog-cards {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 120px;
  }
  
  .card {
    background-color: #111;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .card-image1 {
    height: 150px;
    width: 100%;
    background-color: #444;
    border-radius: 6px;
    margin-bottom: 30px;
    background-size:cover;
    display: flex;
    justify-content: center;
    background-image: url(../imgs/imgHistoria/1991-2000.jpeg);
    cursor: pointer;
  }
  .card-image2 {
    height: 150px;
    width: 100%;
    background-color: #444;
    border-radius: 6px;
    margin-bottom: 30px;
    background-size:cover;
    display: flex;
    justify-content: center;
    background-image: url(../imgs/imgHistoria/1971-1980.jpg);
    cursor: pointer;
  }
  
  
  .card h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #aaa;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #777;
  }
  
  
  /* STYLE PARA O CAMPO SOBRE NOS */

  .sobrenos {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    
  }
  .sobrenos h1 {
    font-size: 30px;
    margin-bottom: 10px;
    
  }
  .sobrenos-text {

    padding: 10px;
    width: 25%;
    display: flex;
    justify-content: center;
    margin-left: 280px;
  }
  .sobrenos-text2 {
    margin-top: 0px;
    padding: 10px;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    margin-left: 80px;
  }
  .sobrenos button{
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: var(--branco);
    color: var(--preto);
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }



  /* STYLE PARA AS REDES SOCIAIS */
  
  .redes-sociais {
    margin: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    justify-content: space-around;
    border-bottom: 10px var(--branco);
  }
  
  .redes-sociais h1 {
    font-size: 30px;
  }
  
  .siganos-cards {
    display: flex;
    flex-direction: column;
  }
  
  .plataforma {
    display: flex;
    flex-direction: row; 
  
    margin-top: 70px;
    justify-content: space-around;
    align-items: center;
;
  }

/* SESSAO DO FOOTER */

  .footer-site{
    margin-top: 100px;
    height: 100px;
    width: 100%;
    z-index: 1000;
    display: flex;
  }
    .container-footer {
        height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around; 
      color: var(--branco);
    }
  .faleconosco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:-10px ;
    gap: 10px;
  }
  .imgIndex{
    display: flex;
    flex-direction: row;
  }

.links ul li a {
    color: var(--branco);
    font-weight: bolder;
    margin-bottom: 300px;



}


.direitos p{
    color: var(--branco);
    text-align: center;
    font-size: 14px;
    margin-top: 100px;
    margin-bottom: 100px;
}



h2 {
  display: flex;
  font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.titulo{
  margin-top: 100px;
  justify-content: center;
  
}
swiper-container {
      max-width:100%;
      height: 100%;      
    }

    swiper-slide{
      display: flex;
      flex-direction: column;
      text-align: justify;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center
    }

    swiper-slide h2 {
    font-size: 19px;
    font-weight: 500;
    max-width: 590px;
    margin-bottom: 60px;

    }
 
swiper-slide img {
      display: flex;
      height: 48vh;
      width: 80vh;
      background-size: cover;
      border-radius: 10px;
      cursor: pointer;
    }